<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622778374424-o7fs0umr5d2rj2qk1ivqfc630eithbpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622778374424-o7fs0umr5d2rj2qk1ivqfc630eithbpq</string>
	<key>API_KEY</key>
	<string>AIzaSyD4As7a-YXAdXwfUcRP8LeLWZ_6H7Ls0rc</string>
	<key>GCM_SENDER_ID</key>
	<string>622778374424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infinite.infinite</string>
	<key>PROJECT_ID</key>
	<string>infinite-d16fc</string>
	<key>STORAGE_BUCKET</key>
	<string>infinite-d16fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622778374424:ios:7fe1f5e7a1913882f1e66d</string>
</dict>
</plist>